.container {
  margin-top: 3em;
  width: 1500px;
  max-width: 1500px;
  margin-left: 12em;
  display: inline-block;
}

.navbar-brand {
  font-size: 1.5em;
  margin-left: 3em;
}

#search-box {
  margin-right: 3em;
}

.list-group-item {
  border-top: 0.5px solid #d3d3d3;
}
